<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!--<add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
        <add key="dotnet9-transport" value="https://dnceng.pkgs.visualstudio.com/public/_packaging/dotnet9-transport/nuget/v3/index.json" />
        <add key="dotnet-preview" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-MainLatest/nuget/v3/index.json" />
        <add key="dotnet" value="http://172.100.61.40:8081/v3/index.json" allowInsecureConnections="True" />-->
    </packageSources>
    <auditSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </auditSources>
    <!--<packageSourceMapping>
        <packageSource key="dotnet-eng">
            <package pattern="Microsoft.DotNet.XUnitExtensions" />
        </packageSource>
        <packageSource key="dotnet9-transport">
            <package pattern="Microsoft.DotNet.GenAPI.Task" />
        </packageSource>
        <packageSource key="nuget">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>-->
</configuration>
